.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.cards{
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card-body{
    margin: 2rem;
    align-content: center;
    background-color: rgba(27, 12, 85, 0.555);
    text-align: left;
    padding: 1rem;
    align-items: center;
    width: 70%;
}

.btn-tabela{
    padding: .5rem;
    background-color: cornflowerblue;
    margin-top: 1rem;
}